body {
    background: #fae3d9;
    font-family: 'Montserrat', sans-serif;
}

/* main profile picture */
.profilePicture {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

/* class for centering images */
.centerBlock{
    display: block;
    margin:auto;
}

/* main body of text */
.profileText {
    line-height: 1.7;
    margin-top: 20px;
    font-weight: bold;
}

/* Heading intro hi im adam */
.profileHeading {
    text-align: center;
    font-size: 65px;
    margin-top: 5px;
    color: #145374;
    font-family: 'Nunito', sans-serif;
}

/* Bar For Buttons */
.profileButtonBar {
    margin-top: 30px;
}

.container{
    margin-top: 30px;
}

.btn{
    width: 200px;
}